---
import { SOCIALS } from "@/config";
import LinkButton from "./LinkButton.astro";
import socialIcons from "@/assets/socialIcons";

export interface Props {
  centered?: boolean;
}

const { centered = false } = Astro.props;
---

<div
  class:list={[
    "social-icons flex-wrap justify-center gap-1",
    { flex: centered },
  ]}
>
  {
    SOCIALS.filter(social => social.active).map(social => (
      <LinkButton
        href={social.href}
        class="link-button p-2 hover:rotate-6 sm:p-1"
        title={social.linkTitle}
      >
        <Fragment set:html={socialIcons[social.name]} />
        <span class="sr-only">{social.linkTitle}</span>
      </LinkButton>
    ))
  }
</div>

<style>
  .social-icons :global(.link-button svg) {
    width: 24px;
    height: 24px;
    stroke-width: 2;
    stroke: currentColor;
    fill: none;
  }

  .social-icons :global(.link-button svg.icon-tabler) {
    display: inline-block;
    vertical-align: middle;
  }

  .social-icons :global(.link-button:hover svg) {
    stroke: var(--color-accent);
  }
</style>
